<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Partials to hold the contents in the head tag -->
    <% include partials/head %>
</head>
<body>
<% include partials/header %>
<div class="container">
    
    <div class="row signup">
        <div class="row">
            <h3>Add a New Session</h3>
        </div><br>
        
        
        <form action="/user/<%= username %>/session/create" method="post" class=".form-horizontal"> 
                        
          <div class="row form-group input_group">
               <label for="" class="col-sm-2">Username:</label>
               <div class="col-sm-10">
                  <input type="text" name="username" id="username" value="<%= username %>" class="form-control" readonly> 
               </div>
           </div>
            
            <div class="row form-group input_group">
               <label for="" class="col-sm-2">Venue:</label>
               <div class="col-sm-10">
                  <input type="text" name="venue" id="venue" class="form-control"> 
               </div>
           </div>
                        
            <div class="row form-group input_group">
               <label for="" class="col-sm-2">Variant:</label>
               <div class="col-sm-10">
                  <input type="text" name="variant" id="variant" class="form-control"> 
               </div>
           </div>

           <div class="row form-group input_group">
               <label for="" class="col-sm-2">Blinds:</label>
               <div class="col-sm-5">
                  <input type="number" name="smblind" id="smblind" class="form-control"> 
               </div>
               <div class="col-sm-5">
                  <input type="number" name="bigblind" id="bigblind" class="form-control"> 
               </div>
           </div>
                         
           <div class="row form-group input_group">
               <label for="" class="col-sm-2">Buy In:</label>
               <div class="col-sm-10">
                  <input type="number" name="buyin" id="buyin" class="form-control"> 
               </div>
           </div>
           
           <div class="row form-group input_group">
               <label for="" class="col-sm-2">Cash Out:</label>
               <div class="col-sm-10">
                  <input type="number" name="cashout" id="cashout" class="form-control"> 
               </div>
           </div>
           
           <div class="row form-group input_group">
               <label for="" class="col-sm-2">Start Time:</label>
               <div class="col-sm-10">
                  <input type="datetime-local" name="start" id="start" class="form-control"> 
                  <p class="form-control-static">Ex: 10/19/2016 12:00</p>
               </div>
           </div>
           
           <div class="row form-group input_group">
               <label for="" class="col-sm-2">End Time:</label>
               <div class="col-sm-10">
                  <input type="datetime-local" name="end" id="end" class="form-control"> 
                  <p class="form-control-static">Ex: 10/19/2016 20:00</p>
               </div>
           </div>
           
           <div class="row form-group" style="margin: 0px 10px 20px 10px;">
               <div class="col-xs-10">
                  <input type="submit" name="submit" id="submit" class="form-control"> 
               </div>
           </div>
            
        </form>
        <form action="/user/<%=username%>" method="GET">
           <button class="btn btn-primary" type="submit">Go Back</button>
        </form>
    </div>
    
</div>


<!-- Partials to hold the javascript links -->
<% include partials/scripts %>  
<% include partials/footer.ejs %> 
</body>
</html>