<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Partials to hold the contents in the head tag -->
    <% include partials/head %>
</head>
<body>
<% include partials/header %>
  
<div class="container">
    <div class="row" style="text-align:center;">
    </div><br><br>
    
    <div class="row signup">
        <div class="row">
            <h3>Welcome, Please Sign Up</h3>
        </div><br>

        <form action="/user/create" method="post" class=".form-horizontal"> 
                       
            <span id="errorUsername"></span>
            <span id="errorFullname"></span>

        <form action="/user/create" method="post" class=".form-horizontal"> 

                        
          <div class="row form-group input_group">
               <label for="" class="col-sm-2">Username:</label>
               <div class="col-sm-10">
                  <input type="text" name="username" id="username" class="form-control"> 
               </div>
           </div>
                         
           <div class="row form-group input_group">
               <label for="" class="col-sm-2">Fullname:</label>
               <div class="col-sm-10">
                  <input type="text" name="fullname" id="fullname" class="form-control"> 
               </div>
           </div>
           
           <div class="row form-group" style="margin: 0px 10px 20px 10px;">
               <div class="col-xs-12">
                  <input type="submit" name="submit" id="submit" class="form-control"> 
               </div>
           </div>
            
        </form>
        
    </div>
    
</div>


<script src="/public/js/reg.js"></script>
<!-- Partials to hold the javascript links -->
<% include partials/scripts %>  
<% include partials/footer.ejs %> 
</body>
</html>