<!DOCTYPE html>
<html lang="en">
<head>
   <!-- Partials to hold the contents in the head tag -->
    <% include partials/head.ejs %>
</head>
<body>
<!-- Partials to hold the navbar -->
<% include partials/header.ejs %> 
    
    <div class="container">  
		<div class="col-lg-8 col-lg-offset-2" >

      		<h3>Welcome to PokerIntel, please select your profile or create a new one</h3>
      		<div class="row">
				  <% for(var i=0; i<usernames.length; i++) {%>
				    <div>
				    	<form class="col-sm-3" action="/user/<%= usernames[i].username %>" method="GET">
		            		<button class="btn btn-primary center-block" type="submit"><%= usernames[i].username %></button>
		          		</form>
				    </div>
				  <% } %>
			</div>
		
	      		<form action="/user/new" method="GET">
		       		<button class="btn btn-success center-block" type="submit">Create new profile</button>
		        </form>
		</div>      
		<br>	  	

	</div>
<!-- Partials to hold the javascript links -->
<% include partials/scripts.ejs %>   
<% include partials/footer.ejs %> 
</body>
</html>