<!DOCTYPE html>
<html lang="en">
<head>
   <!-- Partials to hold the contents in the head tag -->
    <% include partials/head.ejs %>
</head>
<body>
<!-- Partials to hold the navbar -->
<% include partials/header.ejs %> 

<!-- Partials to hold the body elements -->
<% include partials/body.ejs %> 


<!-- Partials to hold the javascript links -->
<% include partials/scripts.ejs %>   
</body>
</html>