<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Partials to hold the contents in the head tag -->
    <% include partials/head %>
</head>
<body>
<nav class="navbar navbar-default" style="background-color: #19aff5;">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand poker" href="/">POKERINTEL</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      <li><a href="/" class="" style="color: white; background-color:#19aff5; font-size: 18px; font-weight: 600;">View Profile</a></li>
       <li><a href="/user/<%= user %>/session/new" class="" style="color: white; background-color:#19aff5; font-size: 18px; font-weight: 600;">Add New Session</a></li>
        <li><a href="/" class="" style="color: white; background-color:#19aff5; font-size: 18px; font-weight: 600;">View Session</a></li>
      </ul>
    </div>
  </div>
</nav>
 
  
<div class="container">
    
    
</div>


<!-- Partials to hold the javascript links -->
<% include partials/scripts %>  
</body>
</html>