.poker{
    width: auto;
    color: white !important;
    font-size: 25px;
    font-weight: 600;
}

.signup{
    border: 1px solid #e7e7e7;
    text-align: center;
    width: 60%;
    height: auto;
    margin: auto;
}

.input_group{
    margin: 0px 20px 20px 20px;
}

.input_group input{
    height: 40px;
    font-size: 20px;
}

input[type="submit"]{
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    background-color: #1e8bc3;
    color: white !important;
}

#errorUsername, #errorFullname{
    color: red;
}

.jumbo{
    margin: 0;
    padding-top: 20px;
    height: 210px;
    background-color: #02818a;
    color: white;
}

.rowData{
    margin: 0 auto;
    width: 80%;
}